body {
    height:100vh;
    width:100vw;
    padding:0;
    margin:0;
}

.header {
    height: 70px;
    background-color:beige;
    padding: 20px 40px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

#addbook {
    border-radius: 10px;
    height: 50px;
    width: 150px;
    background-color:rgb(21, 161, 33);
    color:white;
    font-size: 20px;
    font-weight: 700;
    border: none;


    
}

#addbook:hover {
    background-color:rgb(14, 136, 24);
    box-shadow: 0 0 11px rgba(24, 23, 23, 0.4); 

}

.librarytext {
    font-weight: 800;
    font-size: 45px;

}

.library {
    height: 800px;
    background-color:rgb(163, 240, 240);
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
}

.book {
    background-color: white;
    border-radius: 15px;
    border: 4px solid rgb(21, 161, 33);
    padding: 15px;
}

form {
    margin-left: 300px;
    display: flex;
    gap: 40px;
    align-items: center;
}

label {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;

}

input {
    width: 250px;
    height: 20px;
    font-size: 16px;
    font-weight: 700;
    

}

.bookoption {
    display: flex;
    flex-direction:column;
}

.removebook {
    border-radius: 10px;
    height: 35px;
    width: 60px;
    background-color:rgb(21, 161, 33);
    color:white;
    font-size: 10px;
    font-weight: 700;
    border: none;
}

.removebook:hover {
    background-color:rgb(14, 136, 24);
    box-shadow: 0 0 11px rgba(24, 23, 23, 0.4); 
}

.togglereadbtn {
    border-radius: 10px;
    height: 35px;
    width: 60px;
    background-color:rgb(21, 161, 33);
    color:white;
    font-size: 10px;
    font-weight: 700;
    border: none;
}

.togglereadbtn:hover {
    background-color:rgb(14, 136, 24);
    box-shadow: 0 0 11px rgba(24, 23, 23, 0.4); 
}